.animal-icon-root {
    /* transition: scale 0.15s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out; */
    border-style: solid;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0);
}

.animal-icon-root:hover {
    scale: 1.1 1.1;
}

.animal-icon-root.selected {
    border-color: orange;
    background-color: rgba(255, 165, 0, 0.2);
}

.animal-icon-root.selected:hover {
    scale: 1.1 1.1;
    background-color: rgba(255, 165, 0, 0.3);
}